body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}



/*CSS for similar things start here*/

section {
    margin-bottom: 7%;
}

.half-width {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
}

h1 {
    color: #575757;
    font-size: 50px;
}

a {
    text-decoration: none;
    color: white;
    padding: 20px 35px;
    background-image: linear-gradient(to left,#FE492E,#FB994C);
    border-radius: 50px;
    font-size: 17px;
}

p {
    margin-bottom: 70px;
}

/*CSS for similar things end here*/



/*top-banner css start here*/

#top-banner {
    display: flex;
    margin-top: 1%;
}

#top-banner h1 {
    margin-top: 23%;
}

#top-banner h1 span{
    color:#FB934A;
}

#top-banner p{
    font-size: 20px;
    color: #575757;
}

#top-banner img {
    width: 100%;
}

/*top-banner css end here*/




/*about section css start here*/

#about {
    display: flex;
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    padding-top: 30px;
}

#about img {
    width: 60%;
    margin-left: 15%;
}

#about p {
    font-weight: 400;
}


/*about section css end here*/



/*recipie section css start here*/

#recipie-section .heading h1 {
    text-align: center;
}

#recipie-section .heading p {
    text-align: center;
    margin: 0 200px;
    margin-bottom: 30px;
}

#recipie-section #recipie-menu {
    display: flex;
    width: 93%;
    margin-right: 2%;
    margin-left: 4%;
}

#recipie-section #recipie-menu .single-recipie {
    margin-top: 1%;
    margin-right: 2%;
    margin-left: 2%;
    border: 20px solid white;
    border-radius: 5%;
    box-shadow: 1px 1px 12px lightgray;
    height: 450px;
}

#recipie-section #recipie-menu .single-recipie img {
    width: 100%;
}

/*recipie section css end here*/
